:root {
  --ids-base-color-amber-1000: #f59e0b;
  --ids-base-color-amber-1100: #d97706;
  --ids-base-color-amber-1200: #b45309;
  --ids-base-color-amber-1300: #92400e;
  --ids-base-color-amber-1900: #78350f;
  --ids-base-color-amber-2000: #451a03;
  --ids-base-color-blue-1000: #3b82f6;
  --ids-base-color-blue-1100: #2563eb;
  --ids-base-color-blue-1200: #1d4ed8;
  --ids-base-color-blue-1300: #1e40af;
  --ids-base-color-blue-1400: #1e3fa9;
  --ids-base-color-blue-1900: #1e3a8a;
  --ids-base-color-blue-2000: #172554;
  --ids-base-color-custom-1000: #003cff;
  --ids-base-color-custom-1100: #003beb;
  --ids-base-color-custom-1200: #002fbd;
  --ids-base-color-custom-1300: #00248f;
  --ids-base-color-custom-1400: #002287;
  --ids-base-color-custom-1500: #00207f;
  --ids-base-color-custom-1600: #001e78;
  --ids-base-color-custom-1800: #001a68;
  --ids-base-color-custom-1900: #001861;
  --ids-base-color-custom-2000: #001452;
  --ids-base-color-cyan-1000: #06b6d4;
  --ids-base-color-cyan-1100: #0891b2;
  --ids-base-color-cyan-1200: #0e7490;
  --ids-base-color-cyan-1300: #155e75;
  --ids-base-color-cyan-1400: #155b72;
  --ids-base-color-cyan-1900: #164e63;
  --ids-base-color-cyan-2000: #083344;
  --ids-base-color-emerald-1000: #10b981;
  --ids-base-color-emerald-1100: #059669;
  --ids-base-color-emerald-1200: #047857;
  --ids-base-color-emerald-1300: #065f46;
  --ids-base-color-emerald-1900: #064e3b;
  --ids-base-color-emerald-2000: #022c22;
  --ids-base-color-fuchsia-1000: #d946ef;
  --ids-base-color-fuchsia-1100: #c026d3;
  --ids-base-color-fuchsia-1200: #a21caf;
  --ids-base-color-fuchsia-1300: #86198f;
  --ids-base-color-fuchsia-1400: #82198b;
  --ids-base-color-fuchsia-1900: #701a75;
  --ids-base-color-fuchsia-2000: #4a044e;
  --ids-base-color-gray-1000: #6b7280;
  --ids-base-color-gray-1100: #4b5563;
  --ids-base-color-gray-1200: #374151;
  --ids-base-color-gray-1300: #1f2937;
  --ids-base-color-gray-1900: #111827;
  --ids-base-color-gray-2000: #030712;
  --ids-base-color-green-1000: #22c55e;
  --ids-base-color-green-1100: #16a34a;
  --ids-base-color-green-1200: #15803d;
  --ids-base-color-green-1300: #166534;
  --ids-base-color-green-1900: #14532d;
  --ids-base-color-green-2000: #052e16;
  --ids-base-color-indigo-1000: #6366f1;
  --ids-base-color-indigo-1100: #4f46e5;
  --ids-base-color-indigo-1200: #4338ca;
  --ids-base-color-indigo-1300: #3730a3;
  --ids-base-color-indigo-1400: #36309d;
  --ids-base-color-indigo-1900: #312e81;
  --ids-base-color-indigo-2000: #1e1b4b;
  --ids-base-color-lime-1000: #84cc16;
  --ids-base-color-lime-1100: #65a30d;
  --ids-base-color-lime-1200: #4d7c0f;
  --ids-base-color-lime-1300: #3f6212;
  --ids-base-color-lime-1900: #365314;
  --ids-base-color-lime-2000: #1a2e05;
  --ids-base-color-neutral-1000: #737373;
  --ids-base-color-neutral-1100: #525252;
  --ids-base-color-neutral-1200: #404040;
  --ids-base-color-neutral-1300: #262626;
  --ids-base-color-neutral-1900: #171717;
  --ids-base-color-neutral-2000: #0a0a0a;
  --ids-base-color-orange-1000: #f97316;
  --ids-base-color-orange-1100: #ea580c;
  --ids-base-color-orange-1200: #c2410c;
  --ids-base-color-orange-1300: #9a3412;
  --ids-base-color-orange-1900: #7c2d12;
  --ids-base-color-orange-2000: #431407;
  --ids-base-color-pink-1000: #ec4899;
  --ids-base-color-pink-1100: #db2777;
  --ids-base-color-pink-1200: #be185d;
  --ids-base-color-pink-1300: #9d174d;
  --ids-base-color-pink-1400: #99174b;
  --ids-base-color-pink-1900: #831843;
  --ids-base-color-pink-2000: #500724;
  --ids-base-color-purple-1000: #a855f7;
  --ids-base-color-purple-1100: #9333ea;
  --ids-base-color-purple-1200: #7e22ce;
  --ids-base-color-purple-1300: #6b21a8;
  --ids-base-color-purple-1400: #6820a2;
  --ids-base-color-purple-1900: #581c87;
  --ids-base-color-purple-2000: #3b0764;
  --ids-base-color-red-1000: #ef4444;
  --ids-base-color-red-1100: #dc2626;
  --ids-base-color-red-1200: #b91c1c;
  --ids-base-color-red-1300: #991b1b;
  --ids-base-color-red-1900: #7f1d1d;
  --ids-base-color-red-2000: #450a0a;
  --ids-base-color-rose-1000: #f43f5e;
  --ids-base-color-rose-1100: #e11d48;
  --ids-base-color-rose-1200: #be123c;
  --ids-base-color-rose-1300: #9f1239;
  --ids-base-color-rose-1400: #9b1239;
  --ids-base-color-rose-1900: #881337;
  --ids-base-color-rose-2000: #4c0519;
  --ids-base-color-sky-1000: #0ea5e9;
  --ids-base-color-sky-1100: #0284c7;
  --ids-base-color-sky-1200: #0369a1;
  --ids-base-color-sky-1300: #075985;
  --ids-base-color-sky-1900: #0c4a6e;
  --ids-base-color-sky-2000: #082f49;
  --ids-base-color-slate-1000: #64748b;
  --ids-base-color-slate-1100: #475569;
  --ids-base-color-slate-1200: #334155;
  --ids-base-color-slate-1300: #1e293b;
  --ids-base-color-slate-1900: #0f172a;
  --ids-base-color-slate-2-1000: #606b7a;
  --ids-base-color-slate-2-1100: #404753;
  --ids-base-color-slate-2-1200: #353b46;
  --ids-base-color-slate-2-1300: #2b3039;
  --ids-base-color-slate-2-1900: #15181f;
  --ids-base-color-slate-2-2000: #0f1115;
  --ids-base-color-slate-2000: #020617;
  --ids-base-color-social-facebook-darker-10: #0052d6;
  --ids-base-color-social-facebook-darker-20: #0042ad;
  --ids-base-color-social-facebook-default: #0866ff;
  --ids-base-color-social-facebook-lighter-10: #3481ff;
  --ids-base-color-social-facebook-lighter-20: #619dff;
  --ids-base-color-social-facebook-lighter-30: #8db8ff;
  --ids-base-color-social-github-darker-10: #262626;
  --ids-base-color-social-github-darker-20: #191919;
  --ids-base-color-social-github-default: #333333;
  --ids-base-color-social-github-lighter-10: #3f3f3f;
  --ids-base-color-social-github-lighter-20: #4c4c4c;
  --ids-base-color-social-github-lighter-30: #595959;
  --ids-base-color-social-gmail-darker-10: #c82f23;
  --ids-base-color-social-gmail-darker-20: #a61f14;
  --ids-base-color-social-gmail-default: #ea4335;
  --ids-base-color-social-gmail-lighter-10: #ff5647;
  --ids-base-color-social-gmail-lighter-20: #ff7c71;
  --ids-base-color-social-gmail-lighter-30: #ffa29a;
  --ids-base-color-social-linkedin-darker-10: #004182;
  --ids-base-color-social-linkedin-darker-20: #053059;
  --ids-base-color-social-linkedin-default: #0a66c2;
  --ids-base-color-social-linkedin-lighter-10: #378fe9;
  --ids-base-color-social-linkedin-lighter-20: #71b7fb;
  --ids-base-color-social-linkedin-lighter-30: #aad6ff;
  --ids-base-color-stone-1000: #78716c;
  --ids-base-color-stone-1100: #57534e;
  --ids-base-color-stone-1200: #44403c;
  --ids-base-color-stone-1300: #292524;
  --ids-base-color-stone-1900: #1c1917;
  --ids-base-color-stone-2000: #0c0a09;
  --ids-base-color-teal-1000: #14b8a6;
  --ids-base-color-teal-1100: #0d9488;
  --ids-base-color-teal-1200: #0f766e;
  --ids-base-color-teal-1300: #115e59;
  --ids-base-color-teal-1400: #125b56;
  --ids-base-color-teal-1900: #134e4a;
  --ids-base-color-teal-2000: #042f2e;
  --ids-base-color-violet-1000: #8b5cf6;
  --ids-base-color-violet-1100: #7c3aed;
  --ids-base-color-violet-1200: #6d28d9;
  --ids-base-color-violet-1300: #5b21b6;
  --ids-base-color-violet-1400: #5820b0;
  --ids-base-color-violet-1900: #4c1d95;
  --ids-base-color-violet-2000: #2e1065;
  --ids-base-color-zinc-1000: #71717a;
  --ids-base-color-zinc-1100: #52525b;
  --ids-base-color-zinc-1200: #3f3f46;
  --ids-base-color-zinc-1300: #27272a;
  --ids-base-color-zinc-1900: #18181b;
  --ids-base-color-zinc-2000: #09090b;
}
